.navbar{
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
}

.fav{
  margin: 3vw 3vw 3vw 4vw;
}

.research{
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  margin: 3vw 4vw 3vw 4vw;
}

.logingForm{
  display: flex; 
  flex-direction: row;
  justify-content: center;
  margin: 3vw 4vw 3vw 4vw;
}

.menu{
  margin: 3vw 4vw 3vw 3vw;
}

.reserchBar{
  border: none;
  border-radius: 100px;
  background-color: #EBEBEB;
  padding: 0.5em 1em 0.5em 1em;
  outline: none;
}

.loginInput{
  border: none;
  border-radius: 2px;
  background-color: #EBEBEB;
  padding: 0.5em 1em 0.5em 1em;
  outline: none;
}