<div *ngIf="quote">
  <mat-card class="example-card">
    <mat-icon aria-hidden="false" aria-label="Star" (click)="swapFav()">{{iconStarBorderType}}</mat-icon>
    <mat-card-content class="content-card">
      <p id="content">{{this.quote.content}}</p>
    </mat-card-content>
    <mat-card-actions class="actions-card">
      <div id="photoAuthor" #importImage [style.background-image]="urlImage"></div>
      <p id="authName">{{this.quote.author.name}}</p>
    </mat-card-actions>
  </mat-card>
</div>